    /* 모달 스타일 */
    .modal-insert {
        display: none;
        position: fixed;
        top: 35%; /* 화면위치 */
        left: 35%; /* 화면위치 */
        transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        padding: 20px;
        z-index: 1000; /* 다른 요소들보다 위에 나타나도록 */
        width: 500px; /* 모달 너비 */
        max-width: 90%; /* 최대 너비 */
        background-color: rgb(229, 254, 254);
        border:solid 1px black;
    }

    .modal-partner{
        display: none;
         position: fixed;
         overflow-y:auto;  /* 스크롤 */
        top: 50%; /* 화면위치 */
        left: 75%; /* 화면위치 */
        transform: translate(-50%, -50%); /* 화면 가운데 정렬 */
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        padding: 20px;
        z-index: 1000; /* 다른 요소들보다 위에 나타나도록 */
        width: 435px; /* 모달 너비 */
        height:670px
        max-width: 90%; /* 최대 너비 */
        background-color: rgb(251, 253, 231);
        border:solid 1px black;
    }

    .modal-close {

        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        color: aliceblue;
        background-color: rgb(12, 26, 26);

    }

    .modal-content {
        display: flex;
        align-items: flex-start;
    }

   textarea {
            width: 480px;
            height:50px;
            border: none;
            resize: none;
            height: 150px;
          }
.input-title{
  width: 300px;
}
.btn-insert-schedule{
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 330px;
  height: 39px;
  color: white;
  background-color: rgb(12, 26, 26);
}
.partner-list{
  width: 380px;
  background-color: rgb(255, 202, 124);
}
.empDiv{
 display: inline-block;
 margin:2px;
 border:1px solid salmon;
}

.btnPlus{
 cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 320px;
  height: 30px;
 background-color: rgb(196, 196, 196);
}
.removeEmp{
 cursor: pointer;
}

.partner-place{
width:500px;
}

