aside{
    width: 15%;
    height: 95%;
    background-color: rgba(229, 229, 229, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100%;
    height: 7%;
    border-top: 1px solid  rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
}

#right-sidebar{
    display: flex;
    align-items: center;
}

#right-sidebar div img{
    width: 100px;
    height: 70px;
}


#right-sidebar div:nth-child(1){
    margin-left: 10px;
}

#right-sidebar div:nth-child(2){
    font-size: 30px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(70, 70, 70);
}


#left-sidebar{
    display: flex;
    align-items: center;
}

.v-line{
    height:100%;
    left: 50%;
}

#left-sidebar div a img{
    width: 40px;
    height: 40px;
}

#left-sidebar div button{
    background-color:transparent;
    border: none;
}

#left-sidebar div button img{
    width: 30px;
    height: 30px;
}

#left-sidebar div:nth-child(1)
,#left-sidebar div:nth-child(2)
,#left-sidebar div:nth-child(3)
,#left-sidebar div:nth-child(4)
,#left-sidebar div:nth-child(5)
,#left-sidebar div:nth-child(6)
,#left-sidebar div:nth-child(7)
,#left-sidebar div:nth-child(8)
,#left-sidebar div:nth-child(9)
{
    margin-right: 10px;
}