
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  margin: 0;
}



main {
  flex-grow: 1;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color:white;
}

.form-group {
  margin-bottom: 15px;
  text-align: center; /* 가운데 정렬 */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}
.mainjoin{
font-size: 23px;
margin-bottom: 30px;
}

.form-group input {
  width: 600px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px; /* 인풋 텍스트 크기 조절 */
  margin: 0 auto; /* 가운데 정렬 */
}

.btncenter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btncenter button {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mainjoin{
  display: flex;
  justify-content: center;
}


.btnunder{
  display: flex;
  justify-content: flex-end	;
}




button {
  padding: 5px 10px;
  background-color:rgb(39, 0, 34);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top:30px;
  margin-right:5px;
}

button:hover {
  background-color:#afa5d8;
}


.modal-find-id,
.modal-find-pwd{
width:450px;
 display: none;
position: fixed; /* fixed 위치 */
  top: 30%; /* 화면의 세로 중앙 */
  left: 70%; /* 화면의 가로 중앙 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 모달 그림자 효과 */
  background-color: rgb(239, 238, 254);


}


.modal-inputBox{
 display: block;
margin-bottom: 10px;

}

.modalFindAccount-content{
margin:0 auto;
}

.icon-login{
margin-top:30px
background: rgb(128, 153, 221);
}