/* nav---------------------------- */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* nav {
  width: 100%;
  height: 7%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: space-between;
} */

/* #right-sidebar {
  display: flex;
  align-items: center;
}

#right-sidebar div img {
  width: 50px;
  height: 45px;
}

#right-sidebar div button {
  background-color: transparent;
  border: none;
}

#right-sidebar div button img {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

#right-sidebar div:nth-child(2) {
  margin-left: 10px;
}

#right-sidebar div:nth-child(3) {
  font-size: 23px;
  margin-left: 10px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}

#left-sidebar {
  display: flex;
  align-items: center;
}

#left-sidebar div a img {
  width: 40px;
  height: 40px;
}

#left-sidebar div button {
  background-color: transparent;
  border: none;
}

#left-sidebar div button img {
  width: 30px;
  height: 30px;
}

#left-sidebar div:nth-child(1),
#left-sidebar div:nth-child(2),
#left-sidebar div:nth-child(3),
#left-sidebar div:nth-child(4),
#left-sidebar div:nth-child(5),
#left-sidebar div:nth-child(6),
#left-sidebar div:nth-child(7),
#left-sidebar div:nth-child(8) {
  margin-right: 10px;
} */

main {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/* #sidebar {
  width: 15%;
  height: 95%;
  background-color: rgba(229, 229, 229, 0.5);
 
  padding: 20px 10px;
} */

/* 추가함 */
  /* #sidebar div {
  margin-bottom: 20px;
} */

/* #content {
  width: 85%;
  height: auto;
} */

/* --------------------------------------------- */

#all-list {
  width: 100%;
  background-color: #fff;
  padding: 80px;
  border-radius: 8px;
}

#employee-infor {
  text-align: center;
  margin-bottom: 20px;
}

#name-search {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 20px;
}

#name-search input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#name-search select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
    width: 150px;
    height: 50px;
}

#name-search-keyword{
    width: 300px;
    height: 35px;
}

#name-search input[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #0070c0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 55px;
}

#name-search input[type="submit"]:hover {
  background-color: #2ca0f3;
}

.attend-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.attend-table th, .attend-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.attend-table th {
  background-color: #f2f2f2;
}

.attend-table tr:nth-child(even) {
  background-color: #f9f9f9;
}