body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e0dfdf;
}

#container{
  width: 500px;
  height: 250px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f3f3f3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.icon{
  color: #ff0000;
  font-size: 4em;
  margin-bottom: 10px;
}

h1{
  color: #0070c0;
  font-size: 2em;
  margin-bottom: 10px;
}

p{
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}
