body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

#myAttend-list {
  position: relative; /* fontAwesome 이모티콘 위치를 위해 사용 */
  width: 100%;
  height: 800px;
  max-width: 1000px;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  border-radius: 10px;
}

#employee-infor {
  text-align: center;
  margin-bottom: 20px;
}

/* #profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

#employee-name {
  font-size: 1.2em;
  margin-top: 10px;
}

/* fontAwesome 이모티콘 CSS */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}
.close-button:hover {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.week-group {
  margin-top: 20px;
}

.week-group p{
  font-weight: bold;
}
