/* nav---------------------------- */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 7%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: space-between;
}

#right-sidebar {
  display: flex;
  align-items: center;
}

#right-sidebar div img {
  width: 50px;
  height: 45px;
}

#right-sidebar div button {
  background-color: transparent;
  border: none;
}

#right-sidebar div button img {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

#right-sidebar div:nth-child(2) {
  margin-left: 10px;
}

#right-sidebar div:nth-child(3) {
  font-size: 23px;
  margin-left: 10px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}

#left-sidebar {
  display: flex;
  align-items: center;
}

#left-sidebar div a img {
  width: 40px;
  height: 40px;
}

#left-sidebar div button {
  background-color: transparent;
  border: none;
}

#left-sidebar div button img {
  width: 30px;
  height: 30px;
}

#left-sidebar div:nth-child(1),
#left-sidebar div:nth-child(2),
#left-sidebar div:nth-child(3),
#left-sidebar div:nth-child(4),
#left-sidebar div:nth-child(5),
#left-sidebar div:nth-child(6),
#left-sidebar div:nth-child(7),
#left-sidebar div:nth-child(8) {
  margin-right: 10px;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 15%;
  height: 95%;
  background-color: rgba(229, 229, 229, 0.5);
  /* 추가함 */
  padding: 20px 10px;
}

/* 추가함 */
#sidebar div {
  margin-bottom: 20px;
}

#content {
  width: 85%;
  height: auto;
}

/* --------------------------------------------- */

#messenger-write {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  border: none;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10px;
}

#messenger-write button {
   border: none;
   background-color: #3498db;
   color: white;
   font-weight: bold;
   font-size: large;
   cursor: pointer;
   height: 50px;
}

#messenger-status {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 10%;
}

#messenger-status button {
  border: none;
  cursor: pointer;
  font-size: large;
  padding: 10px 20px;
  background-color: transparent;
}
#messenger-status button:hover {
  /* background-color: rgb(189, 189, 192); */
  border-radius: 20px;
  transform: scale(1.05);
}

#messenger-status img{
  width: 40%;
  height: 20px;
}

#sidebar a{
  text-decoration: none;
  color: black;
}

/* #sidebar hr{
  border-color:#34495e;
} */

#all-messenger p {
  margin-top: 10%;
  margin-left: 10%;
  font-size: larger;
  font-weight: 550;
}
#all-messenger:hover {
  /* background-color: rgb(189, 189, 192); */
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.05);
}

#receive-messenger p {
  margin-top: 10%;
  margin-left: 10%;
  font-size: larger;
  font-weight: 550;
}
#receive-messenger:hover {
  /* background-color: rgb(189, 189, 192); */
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.05);
}

#send-messenger p {
  margin-top: 10%;
  margin-left: 10%;
  font-size: larger;
  font-weight: 550;
}
#send-messenger:hover {
  /* background-color: rgb(189, 189, 192); */
  cursor: pointer;
  border-radius: 8px;
  transform: scale(1.05);
}

/* 검색창 */
#messenger-search {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
}

#messenger-search input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #8d8d8d;
  border-radius: 5px;
  width: 270px;
  height: 25px;
}

#messenger-search input[type="button"] {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
}
#messenger-search input[type="button"]:hover {
  background-color: #2980b9;
}
/* --------------- */

#messenger-check {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

#check-all {
  margin-left: 5%;
}

#check-delete {
  margin-left: 5%;
}

#check-delete input[type="button"] {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  height: 35px;
}
#check-delete input[type="button"]:hover {
  background-color: #c0392b;
}

#messenger-content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
  width: 250%;
  /* 최대 높이 설정 -> 길어지면 스크롤할 수 있게 만듦 */
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.messenger-item {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 90px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(88, 88, 88, 0.3);
  font-size: large;
}
.messenger-item:hover{
  transform: scale(1.01);
}

.messenger-item div {
  margin-right: 10px; /* 각 항목 간의 간격 */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

/* checkbox 색 변경하기 */
/* 중요메일 checkbox만 빨간색 */
#checkbox-important:checked {
  accent-color: red;
}

#checkbox-delete, #checkbox-important {
  flex: 0 0 auto;
}

#list-person {
   flex: 1 1 20%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-weight: bold;
}

#list-title {
   flex: 1 1 50%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
}

#list-date {
  flex: 1 1 30%;
  text-align: left;
  color: #727374;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 쪽지 쓰는 페이지 (받는사람, 제목, 파일첨부)*/
#messenger-write-page {
  width: 50%;
  height: 800px;
  background-color: rgb(238, 235, 235);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.5);
  /* 쪽지 쓰는 페이지 화면의 가운데에 위치하도록 조정*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#messenger-send-btn {
  background-color: rgb(57, 57, 252);
  color: white;
  border-radius: 5px;
  width: 15%;
  height: 50px;
  cursor: pointer;
  border-width: 1px;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  font-size: large;
}

#messenger-send-btn:hover {
  background-color: rgb(125, 125, 247);
}

/* 쪽지 임시저장 버튼 */
/* #messenger-save-btn {
  color: black;
  border-radius: 5px;
  width: 10%;
  height: 40px;
  cursor: pointer;
  border-width: 1px;
} */

/* 쪽지 쓸 때 들어가야 할 정보들 */
#messenger-infor-receiver {
  display: flex;
  margin-bottom: 3%;
  margin-top: 3%;
}
#receiver-name {
  margin-left: 3%;
  font-weight: bold;
  font-size: large;
}
#receiver-text {
  width: 60%;
  margin-left: 8%;
}

#messenger-infor-title {
  display: flex;
}
#messenger-title {
  margin-left: 5%;
  font-weight: bold;
  font-size: large;
}
#title-text {
  width: 60%;
  margin-left: 11.2%;
}

#messenger-infor-file {
  display: flex;
}
#messenger-file {
  margin-left: 3%;
  margin-top: 3%;
  font-weight: bold;
}
#file-upload {
  width: 60%;
  margin-left: 8%;
  margin-top: 3%;
  cursor: pointer;
  height: 50px;
}

#messenger-write-content {
  display: flex;
  justify-content: center;
}

/* 쪽지에서 내용 작성하는 화면 */
#content-text {
  margin-top: 8%;
  width: 100%;
  /* 모니터 화면 크기에 따라 높이 조정해줘야 함 */
  height: 440px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow: auto;
}

#content-text:focus {
  outline: none;
  border-color: #007BFF;
}

/* ------------------------------- */
/* 쪽지 작성 페이지 messenger/write */
/* 받는 사람 option칸 */
#receiver-select{
  margin-left: 10%;
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
}

#receiver-select:focus {
  outline: none;
  border-bottom: 1px solid rgb(57, 57, 252);
}

/* 제목 칸 */
#title-text {
  width: 60%;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
}

#title-text:focus {
    outline: none;
    border-bottom: 1px solid #007BFF;
}

