* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outLine{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #7ec7ff ;
}

#outLine form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #7ec7ff ;
}

#imgContent{
    border: 1px solid black;
    width: 80%;
    height: 1000px;
}
