body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 가로 스크롤 숨김 */
}

main{
    display: flex;
    width: 100%;
    height: 93%;
    margin: 0;
    padding: 0;
}

#main{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outLine{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #7ec7ff ;
}

#outLine form{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #7ec7ff ;
}

#title{
    width: 95%;
    height: 2%;
}

#content{
    border: 1px solid rgb(184, 184, 184);
    width: 95%;
    height: 80%;
    overflow-y: auto; 
    overflow-x: hidden; 
    word-wrap: break-word; 
}

#buttonTag{
    display: flex;
    justify-content: space-between;
}

.imgTag{
    width: 300px;
    height: 200px;
}