body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.calendar_title { 
    margin: 0 auto; 
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.prev , .next{
  width: 30px;
  height: 100%;
  cursor: pointer;
  border: none;
  font-size: 20px;
  outline: none;
  color: #7dc5ff;
}

.calendar_title .current-year-month {
  font-size: 24px;
  vertical-align: middle;
  color: #7dc5ff;
  display: inline-block;
  margin: 0 20px;
}

/*캘린더 바디*/
.content-right {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .day-of-week {
    background: #7dc5ff;
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
  }

  /*월화수목금토일 머리 부분*/
  .dayHeader {
    display: inline-block;
    width: calc(100% / 7.2);
    height: 100%;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 18px;
    color: white;
  }

  /*월화수목금토일 글자*/
  .content-right .day-of-week .dayHeader.sun {color: rgb(245, 99, 179);}
  .content-right .day-of-week .dayHeader.sat {color: rgb(71, 154, 118);}

  /*일 날짜*/
  .calendar-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .line{
    width: 100%;
    height: 100%;
    display: flex; 
    margin: 0;
    background-color: lightblue;
  }

.day {
    width: calc(100% / 7);
    border: 1px double rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.day:nth-child(1){
  color: rgb(245, 99, 179);
}

.day:nth-child(7){
  color:rgb(71, 154, 118);
}



  
  